# Numerous always-ignore extensions
*.diff
*.err
error_log
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
composer.lock

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
.vscode
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
dist
npm-debug.log
app/uploads/
app/services/data.json
app/assets/media/
debug.js
vendor/
public/
static/
release/
_temp/